<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Theoretical Condensed Matter Physics</h1>
            <span>University of Jyväskylä</span>
            <span><address>Jyväskylä, Finland</address><time>05.2015 to 01.2020</time></span>

    </article>
    <article>
        <header>
            <h1>MSc in Theoretical Condensed Matter Physics</h1>
            <span>Linnaeus University</span>
            <span><address>Växjö and Kalmar, Sweden</address><time>09.2012 to 010.2014</time></span>
            
    </article>
</section>
