<section class="thirteen columns">
    
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Postdoctoral Researcher</h1>
            <span><address>Tampere University, Tampere, Finland</address><time>08.2021 to Present</time></span>
        </header>
    </article>
    
    <article>
        <header>
            <h1>Postdoctoral Researcher</h1>
            <span><address>University of Jyväskylä, Jyväskylä, Finland</address><time>04.2021 to 08.2021</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>Postdoctoral Researcher</h1>
            <span><address>Aalto University, Espoo, Finland</address><time>01.2021 to 04.2021</time></span>
        </header>
    </article>
    
    <article>
        <header>
            <h1>Junior Machine Learning Engineer</h1>
            <span><address>Helsinki, Finland</address><time>04.2020 to 12.2020</time></span>
        </header>
    </article>
   
</section>
